# ======================
# Visual Studio
# ======================

.vs/

*.user
*.suo
*.userosscache
*.sln.docstates


# ======================
# Build output
# ======================

bin/
obj/


# ======================
# Publish
# ======================

publish/
*.pubxml.user


# ======================
# Logs
# ======================

*.log


# ======================
# Temporary files
# ======================

*.tmp
*.temp


# ======================
# OS files
# ======================

.DS_Store
Thumbs.db


# ======================
# Rider
# ======================

.idea/


# ======================
# VS Code
# ======================

.vscode/


# ======================
# Test
# ======================

TestResults/


# ======================
# NuGet
# ======================

*.nupkg
packages/